body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.err{
  color: red;
}

.lnk{
  text-decoration: none;
  color: aliceblue;
  font-size: 20px;
}

.bg{
  background: darkgray;
}
.main{
  font-size: 30px;
  font-weight: 700;
}